.header {
    box-sizing: border-box;
    /* height: 80px; */
    border: 1px #ECECEC;
    background-color: #ffffff;
    border-bottom: 1px solid #EEEEEE;

}

// ЛОГОТИП

.logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;

    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.2;
        }
}

.logo-web {
    color: var(--accent-color);
}

// МОБІЛЬНЕ МЕНЬ
.menu-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    fill: #000000;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

.menu-container{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    height: 100%;
    margin-left: auto;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 40px;

    background-color: teal;

}

.menu-list {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

// КОНТАКТИ В ХЕДЕРІ
.header-contacts {
    display: none;
    // display: flex;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;

          &__item:not( :last-child) {
            margin-right: 50px;
        }
}


.header-contacts__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    transition: color var(--timing-function);

         &:hover,
         &:focus,
         &--hover {
            color: var(--accent-color);
        }
}


.header-contacts__email {
    color: var(--accent-color);
}

.header-contacts__icon-envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
}

.header-contacts__icon-smartphone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}

// .icon-envelope:hover,
// .icon-envelope:focus {
//     fill: var(--accent-color);
// }